<div class="p-2 bg-orange-200 rounded flex flex-col items-center">
    <div class="text-xl w-full font-bold uppercase">Certifications</div>
    <div class="flex w-full flex-row gap-1 justify-between">
        <div>
            <a target="_blank" href="Linux_Essential_010.png"
                ><img
                    src="LPI_Essentials.png"
                    alt=""
                    title="AWS re/Start Graduate Badge: AWS re/Start is a full-time, classroom-based training program that prepares individuals for entry-level cloud roles."
                    width="150px"
                /></a
            >
        </div>
        <div>
            <a target="_blank" href="https://www.credly.com/badges/c8bee18e-53c2-48b3-808d-be37ecb391da/public_url"
                ><img
                    src="aws-re-start-graduate.png"
                    alt=""
                    title="AWS re/Start Graduate Badge: AWS re/Start is a full-time, classroom-based training program that prepares individuals for entry-level cloud roles."
                    width="150px"
                /></a
            >
        </div>
        <div>
            <a target="_blank" href="https://www.credly.com/badges/84b3fcbb-6a30-44e8-bc04-2eb8700d9906/public_url"
                ><img
                    src="aws-certified-cloud-practitioner.png"
                    alt=""
                    title="AWS Certified Cloud Practitioner Issued by Amazon Web Services Training and Certification"
                    width="150px"
                /></a
            >
        </div>
        <div>
            <a target="_blank" href="https://learn.microsoft.com/api/credentials/share/de-de/ChristianF-8106/DD997F363117E4BC?sharingId=33D1998C4EB6D3AC"
                ><img
                    src="microsoft-certified-fundamentals-badge.svg"
                    alt=""
                    title="AWS Certified Cloud Practitioner Issued by Amazon Web Services Training and Certification"
                    width="150px"
                /></a
            >
        </div>
    </div>
</div>
