<div class="bg-orange-200 rounded p-2">
    <div class="text-3xl font-bold uppercase">Developer and DevOps Engineer</div>
    <div class="text-xl">I am a full stack Engineer with a high value of automation and simplifying.</div>
</div>
