---
import Layout from "../../../../../layouts/Layout.astro";
import Todos from "../app/todos.jsx";
---

<Layout title="Portfolio > Websites > Apps > Todo">
    <div class="p-2 text-sm">
        <a class="link" href="/portfolio/">back to Portfolio</a>
        <Todos
            modus={"local"}
            client:load
            info={"This is a simple ToDo list in React, nested in the Astro main page system. Data is stored locally in the browser."}
        />
    </div>
</Layout>
