<div class="bg-orange-200 rounded p-2">
    <div class="text-xl font-bold uppercase">Now</div>
    <div>
        Trainee at <a
            class="link"
            target="_blank"
            title="IT training — We support you until you get a well-paid job. We're here for you. In 12 months  you'll learn everything you need to start a career in cloud or web development."
            href="https://froechte.de/home#:~:text=Trainee%20at%20Techstarter">Techstarter</a
        >
    </div>
</div>
