<div class="bg-orange-200 rounded p-2">
    <div class="text-xl font-bold uppercase">Specialities</div>
    <div class="text-base font-bold uppercase">DevOps</div>
    <div>
        <a
            class="link"
            title="Git is a distributed version control system used for tracking changes in source code during software development. It allows multiple people to work on a project simultaneously  helps manage code versions  and integrates with various platforms like GitHub  GitLab  and Bitbucket for collaboration."
            target="_blank"
            href="https://git-scm.com/">git</a
        > |
        <a
            class="link"
            title="Linux is an open-source operating system based on the Unix kernel. It is widely used for servers  desktops  and embedded systems. Linux is known for its stability  security  and flexibility  and it supports a variety of distributions such as Ubuntu  Fedora  and CentOS."
            target="_blank"
            href="https://en.wikipedia.org/wiki/Linux">Linux</a
        >(<a
            class="link"
            title="A shell script is a text file containing a sequence of commands for a Unix/Linux shell. It automates repetitive tasks  such as file manipulation  program execution  and system management. Shell scripts are typically written for shells like Bash or Zsh."
            target="_blank"
            href="https://en.wikipedia.org/wiki/Shell_script">#!</a
        >/<a
            class="link"
            title="Python is a high-level  interpreted programming language known for its readability and simplicity. It supports multiple programming paradigms  including procedural  object-oriented  and functional programming. Python is widely used for web development  data analysis  machine learning  automation  and more."
            target="_blank"
            href="https://www.python.org/">PY</a
        >) | <a
            class="link"
            title="Docker is a platform for developing  shipping  and running applications in containers. Containers package an application and its dependencies together  ensuring consistency across different environments. Docker simplifies deployment  scaling  and management of applications by isolating them from the underlying system."
            target="_blank"
            href="https://www.docker.com/">Docker</a
        >
        <a
            class="link"
            title="Kubernetes is an open-source container orchestration platform for automating the deployment  scaling  and management of containerized applications. It manages clusters of containers  provides load balancing  self-healing  and scaling features  and supports complex application deployments."
            target="_blank"
            href="https://kubernetes.io/">Kubernetes</a
        > |
        <a
            class="link"
            title="AWS (Amazon Web Services) is a comprehensive cloud computing platform provided by Amazon. It offers a range of services  including computing power  storage  databases  machine learning  and more  allowing businesses to scale and manage their applications and infrastructure in the cloud."
            target="_blank"
            href="https://aws.amazon.com/">AWS</a
        > | <a
            class="link"
            title="Azure is a cloud computing platform provided by Microsoft. It offers a range of services  including virtual machines  databases  AI  and IoT  enabling businesses to build  deploy  and manage applications and services in the cloud."
            target="_blank"
            href="https://azure.microsoft.com/"
        >
            Azure
        </a>
    </div>
    <div class="text-base font-bold uppercase">Develop</div>
    <div class="flex flex-col mb-1">
        <span
            title="Frontend refers to the client-side part of a web application or website that users interact with directly. It includes everything visible on the web page  such as layout  design  and user interface elements  typically built using HTML  CSS  and JavaScript."
            class="uppercase"
            >Frontend
        </span><div>
            <a
                class="link"
                title="Using the native web stack means building web applications using the core technologies of the web: HTML  CSS  and JavaScript. This approach provides a solid foundation for building web applications that are fast  responsive  and accessible across different devices and browsers."
                target="_blank"
                href="https://developer.mozilla.org/en-US/docs/Web"
            >
                Native Web
            </a> |
            <a
                class="link"
                title="React is a JavaScript library for building user interfaces  particularly single-page applications. It allows developers to create reusable UI components  manage state  and efficiently update the view in response to user interactions or data changes."
                target="_blank"
                href="">react</a
            > |
            <a
                class="link"
                title="Angular is a TypeScript-based framework for building web applications. Developed by Google  it provides a robust architecture for building single-page applications (SPAs) with features like two-way data binding  dependency injection  and a modular approach to development."
                target="_blank"
                href="https://angular.dev/">Angular</a
            > | <a
                class="link"
                title="Astro is a modern web development platform that allows developers to build fast  dynamic websites using a mix of static and server-rendered content. It combines the best of static site generators and server-side rendering to deliver high-performance web applications."
                target="_blank"
                href="https://astro.build/"
            >
                Astro
            </a>
        </div>
    </div>
    <div class="flex flex-col mb-1">
        <span
            title="Backend refers to the server-side part of a web application or website that users do not interact with directly. It includes the server  database  and application logic that power the frontend and manage data  security  and business logic."
            class="uppercase"
            >Backend
        </span>
        <div>
            <a
                class="link"
                title="Node.js is an open-source  cross-platform JavaScript runtime environment that executes JavaScript code outside a web browser. It allows developers to build server-side applications using JavaScript  providing a scalable and efficient platform for web development."
                target="_blank"
                href="https://nodejs.org/en">Node.js</a
            > |
            <a
                class="link"
                title="NextJs is a React framework for building server-side rendered (SSR) web applications. It provides a streamlined development experience with features like automatic code splitting  server-side rendering  and static site generation  enabling developers to build fast and SEO-friendly web applications."
                target="_blank"
                href="https://nextjs.org/">NextJs</a
            > | <a
                class="link"
                title="NestJs is a progressive Node.js framework for building efficient  reliable  and scalable server-side applications. It uses TypeScript and follows best practices for building RESTful APIs  GraphQL servers  and more."
                target="_blank"
                href="https://nestjs.com/">NestJs</a
            >
        </div>
    </div>
    <div class="flex flex-col mb-1">
        <span class="uppercase">tools </span>
        <div>
            <a
                class="link"
                title="HTML (HyperText Markup Language) is the standard markup language used to create and design webpages. It structures web content with elements like headings  paragraphs  links  images  and more."
                target="_blank"
                href="https://developer.mozilla.org/en-US/docs/Web/HTML">html</a
            > |
            <a
                class="link"
                title="CSS (Cascading Style Sheets) is a stylesheet language used to style the visual presentation of webpages written in HTML. It defines the layout  colors  fonts  and other design elements of a webpage  making it visually appealing and user-friendly."
                target="_blank"
                href="https://developer.mozilla.org/en-US/docs/Web/CSS">css</a
            > |
            <a
                class="link"
                title="JavaScript is a high-level  interpreted programming language used to create interactive and dynamic websites. It enables developers to add interactivity  animations  and other dynamic features to webpages  making them more engaging and user-friendly."
                target="_blank"
                href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">javascript</a
            >/<a
                class="link"
                title="TypeScript is a superset of JavaScript that adds optional static typing to the language. It improves code quality  readability  and maintainability by catching errors early and providing better tooling support. TypeScript is widely used for large-scale applications and projects."
                target="_blank"
                href="https://www.typescriptlang.org/">typescript</a
            > | <a
                class="link"
                title="go is a statically typed  compiled programming language designed for simplicity  efficiency  and performance. It is known for its fast compilation times  garbage collection  and built-in support for concurrent programming  making it ideal for building scalable and efficient software."
                target="_blank"
                href="https://golang.org/">go</a
            > |
            <a
                class="link"
                title="SQL (Structured Query Language) is a standard language for managing and manipulating relational databases. It allows users to query  insert  update  and delete data from databases  as well as create  modify  and manage database structures and relationships."
                target="_blank"
                href="https://en.wikipedia.org/wiki/SQL">SQL</a
            > |
            <a
                class="link"
                title="NoSQL databases are non-relational databases that provide flexible  scalable  and high-performance data storage solutions. They are designed to handle large volumes of unstructured  semi-structured  and structured data  making them ideal for modern web applications  big data  and real-time analytics."
                target="_blank"
                href="https://en.wikipedia.org/wiki/NoSQL">noSQL</a
            >
        </div>
    </div>
    <div class="text-base font-bold uppercase">Management and Principles</div>
    <div class="flex flex-col mb-1">
        <span
            title="Frontend refers to the client-side part of a web application or website that users interact with directly. It includes everything visible on the web page  such as layout  design  and user interface elements  typically built using HTML  CSS  and JavaScript."
            class="uppercase"
            >Agile
        </span>
        <div>
            <a
                class="link"
                title="Scrum is an agile project management framework used to develop  deliver  and sustain complex products. It emphasizes collaboration  transparency  and adaptability  enabling teams to deliver value incrementally and respond to change effectively."
                target="_blank"
                href="https://www.scrum.org/"
            >
                Scrum
            </a> |
            <a
                class="link"
                title="Kanban is an agile project management method used to visualize  manage  and optimize work processes. It focuses on continuous delivery  limiting work in progress  and improving flow  enabling teams to deliver value faster and more efficiently."
                target="_blank"
                href="https://en.wikipedia.org/wiki/Kanban_(development)">Kanban</a
            >
        </div>
    </div>
    <div class="flex flex-col mb-1">
        <span
            title="Frontend refers to the client-side part of a web application or website that users interact with directly. It includes everything visible on the web page  such as layout  design  and user interface elements  typically built using HTML  CSS  and JavaScript."
            class="uppercase"
            >Architecture:
        </span>
        <div>
            <a
                class="link"
                title="Domain-Driven Design (DDD) is an approach to software development that focuses on modeling the core domain of a business. It emphasizes collaboration between domain experts and developers  strategic design  and continuous feedback to create a shared understanding of the domain and its requirements."
                target="_blank"
                href="https://en.wikipedia.org/wiki/Domain-driven_design">Domain Driven Design</a
            > |
            <a
                class="link"
                title="Microservices is an architectural style that structures an application as a collection of small  autonomous services. Each service is self-contained  independently deployable  and communicates with other services through APIs. Microservices enable scalability  flexibility  and faster development cycles."
                target="_blank"
                href="https://microservices.io/">Micro Services</a
            > |
            <a
                class="link"
                title="Loose Coupling is a design principle that promotes independence and flexibility between components in a system. It reduces dependencies  improves maintainability  and enables components to be replaced or modified without affecting the entire system."
                target="_blank"
                href="https://en.wikipedia.org/wiki/Loose_coupling">Loose Coupling</a
            > |

            <a
                class="link"
                title="Event-driven architecture is a design pattern that promotes the production  detection  consumption  and reaction to events in a system. It enables decoupled  scalable  and resilient systems by allowing components to communicate asynchronously through events and messages."
                target="_blank"
                href="https://en.wikipedia.org/wiki/Event-driven_architecture">Events and Messages</a
            > |

            <a
                class="link"
                title="Clean Code is a set of principles and practices for writing code that is easy to read  understand  and maintain. It emphasizes clarity  simplicity  and consistency in code structure  naming  and organization  enabling developers to write high-quality  maintainable code."
                target="_blank"
                href="https://en.wikipedia.org/wiki/Clean_Code">Clean Code</a
            >
        </div>
    </div>
    <div class="flex flex-col mb-1">
        <span class="uppercase">Methods: </span>
        <div>
            <a
                class="link"
                title="Continuous Integration (CI) is a software development practice that involves integrating code changes into a shared repository frequently. It automates the build  test  and deployment processes  enabling teams to detect and fix integration errors early and deliver software faster and more reliably."
                target="_blank"
                href="https://en.wikipedia.org/wiki/Continuous_integration">CI/CD</a
            > |
            <a
                class="link"
                title="Testing is the process of evaluating a system or application to identify defects  errors  or bugs. It ensures that software meets the specified requirements  functions correctly  and performs as expected. Testing helps improve quality  reliability  and security of software products."
                target="_blank"
                href="https://en.wikipedia.org/wiki/Software_testing">Testing</a
            >
        </div>
    </div>
</div>
