---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Portfolio">
    <div class="p-2">
        <h1>Portfolio</h1><div>
            <ul class="ps-4">
                <li>
                    Websites
                    <ul class="ps-4">
                        <li class="list-outside"><a class="link" href="/portfolio/websites/todo/">ToDoList</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</Layout>
