<footer class="maincontainer flex flex-row justify-center">
    <div>Christian Fröchtenicht - Personal Website</div>
    <div><a href="mailto:c.froechtenicht@gmx.net">Email</a></div>
    <div><a href="https://www.linkedin.com/in/christian-fr%C3%B6chtenicht-3584222b7/">LinkedIn</a></div>
</footer>
