---
import Layout from "../../../../../layouts/Layout.astro";
import Todos from "../app/todos";
---

<Layout title="Portfolio > Websites > Apps > Todo">
    <div class="p-2 text-sm">
        <a class="link" href="/portfolio/">back to Portfolio</a>
        <Todos
            modus="apilogin"
            client:load
            info={"This is a simple ToDo list in React, nested in the Astro main page system. Data is stored in an API, accessed by login."}
        />
    </div>
</Layout>
