---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Portfolio">
    <div class="p-2">
        <h1>Portfolio</h1><div>
            <ul class="ps-4">
                <li>
                    Websites
                    <ul class="ps-4">
                        <li class="list-outside"><a class="link" href="/portfolio/websites/sites/this">This Page</a></li>
                    </ul>
                    Apps
                    <ul class="ps-4">
                        Todo
                        <ul class="ps-4">
                            <li class="list-outside"><a class="link" href="/portfolio/apps/todos/local">Local</a></li>
                            <li class="list-outside"><a class="link" href="/portfolio/apps/todos/api">API</a></li>
                            <li class="list-outside"><a class="link" href="/portfolio/apps/todos/apilogin">API with login</a></li>
                        </ul>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</Layout>
